/* ------ ChatRoom View ------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.title {
    font-size: 1.5rem; /* H1 size */
    color: yellow;
    text-shadow: 2px 2px 0px #000; /* Black outline effect */
}

.room-code {
    margin: 0 20px;
    font-size: 1rem;
    color: #ccc;
}

.end-session-button {
    padding: 8px 16px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.end-session-button:hover {
    background-color: #c82333;
}

.leave-session-button {
    padding: 8px 16px;
    background-color: #6c757d; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.leave-session-button:hover {
    background-color: #5a6268;
}


.chat-container {
    background-color: #f4f4f4;
    padding: 20px;
    border-top: 8px solid #333;
}

/* .message-container {
    width: 100%;
    max-width: 1000px;
    min-height: 400px;
    height: 65vh;
    margin: 0 auto;
    margin-top: 6em;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 2% 3%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: yellow;
    overflow: scroll;
}

@media (max-width: 768px) {
    .message-container {
        padding: 2%;
        margin-top: 4em;
        height: 50vh;
    }
}

@media (max-width: 480px) {
    .message-container {
        padding: 1%;
        margin-top: 2em;
        height: 40vh;
    }
} */
/* ------ --------- ------*/

/* ------ Join View ------*/

.join-create-screen {
    /* background-color: #FFFF8F; */
    text-align: center;
    background-color: #8ffff0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    font-size: calc(10px + 2vmin);
}

.join-create-screen > h1 {
    color: yellow;
    /* outline-color: red;
    outline-width: 2px;
    outline-style: dashed; */
    text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

/* font for tablets and desktops */
@media (min-width: 768px) {
    .join-create-screen {
        font-size: calc(12px + 2vmin); 
    }
}

 /* More padding for larger screens */
@media (min-width: 1024px) {
    .join-create-screen {
        padding: 40px;
    }
}

.join-section {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 10px;
    /* padding: 10px; */
}

.join-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
}

.join-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.join-button:hover {
    background-color: #218838;
}

.create-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.create-button:hover {
    background-color: #0056b3;
}

.custom-hr {
    width: 12em;
    border: none;
    height: 2px;
    background-color: #555454; 
    margin-top: 20px;
}
/* ----------------------------- */